/*---------- FONT ----------*/
/*---------- COLOR ----------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #48556a;
  min-height: 100vh;
  background-color: #ecf2f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*---------- CARD ----------*/
.card {
  background-color: #fff;
  width: Min 80%, 73rem;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4rem 4rem -1rem rgba(201, 213, 225, 0.503415); }

.card-img {
  max-width: 28.5rem; }
  .card-img img {
    width: 100%; }

.text-container {
  padding: 3.2rem 4rem;
  max-width: 36.5rem; }
  .text-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem; }
  .text-container p {
    color: #6d7f97; }

.author-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }
  .author-container .author {
    display: flex;
    gap: 1.6rem; }
  .author-container .author-img {
    width: 4rem;
    height: 4rem;
    border-radius: 100px; }
  .author-container .author-info .author-name {
    color: #48556a; }
  .author-container .author-info .date {
    color: #9eafc2; }
  .author-container .share-icon-box {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #ecf2f8;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .author-container .share-icon-box .share-icon {
      width: 50%; }
  .author-container .share-container {
    background-color: #48556a;
    display: flex;
    height: 6.4rem;
    gap: 2rem;
    padding: 1.8rem 3.6rem;
    position: absolute;
    top: -250%; }
    .author-container .share-container .share-text {
      color: #9eafc2;
      text-transform: uppercase; }
    .author-container .share-container .icon {
      width: 2rem;
      height: 2rem; }

/*---------- FOOTER ----------*/
.attribution {
  font-size: 1.2rem;
  text-align: center;
  color: #9eafc2;
  margin-top: 3rem; }
  .attribution a {
    color: #9eafc2;
    text-decoration: none;
    font-weight: 700; }
  .attribution a:hover {
    color: #48556a; }
